*.mak
*.moc
*.o
*.qm
*/Makefile
*~
bin
moc_*.cpp
*.moc
*.mak
bin
plugins/*/Makefile
plugins/*/qrc_res.cpp
xivoclient/qrc_appli.cpp
xivoclient/versions.pri
Makefile.Debug
Makefile.Release
doc
versions.pri
