[Desktop Entry]
Version=1.0
Encoding=UTF-8
GenericName=xivoclient
Name=XiVO Client
Comment=XiVO CTI Client
Name[fr]=XiVO Client
Comment[fr]=XiVO CTI Client
Exec=xivoclient %U
Icon=wazoclient.png
Type=Application
Terminal=false
Categories=Application;Network;ContactManagement;InstantMessaging;TelephonyTools;Qt
MimeType=application/callto;x-scheme-handler/callto;application/tel;x-scheme-handler/tel
